[Desktop Entry]
Name=Welcome To Exodia OS
Comment=Startup application for Exodia OS
Exec=exodia-welcome
Icon=exodia-cyan
Type=Application
Categories=System;
